<nav class="nav">
  <div class="container nav__container">
    <div class="row nav__row">
        <div class="nav__logo">
          <a href="#" class="nav__logo-link"><span class="nav__logo-blue">Indo</span> Tourism</a>
        </div>
        <div class="nav__right-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="#" class="nav__item-link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__item-link">About us</a></li>
                <li class="nav__item"><a href="#" class="nav__item-link">Projects</a></li>
            </ul>
            <button class="nav__btn">Contact us</button>
        </div>
    </div>
  </div>
</nav>
<section class="banner">
    <div class="container banner__container">
        <div class="row banner__row">
            <div class="col-md-12 banner__col">
                <h1 class="banner__title">i like to ask the same question</h1>
                <h1 class="banner__subtitle">many many times</h1>
                <button class="banner__btn"><span class="banner__btn-text">Ok ask me</span></button>
                <div class="banner__block"></div>
            </div>
        </div>
    </div>
</section>
<section class="feature">
    <div class="container feature__container">
        <div class="row feature__row">
            <div class="col-md-12 feature__col">
                <h3 class="feature__title">We've since expanded our life list
                    to 43 sites around the world</h3>
                <h3 class="feature__title">43 Places to See Before You Die</h3>
            </div>
        </div>
        <div class="row feature__row">
            <div class="col-md-3 feature__col">
                <img src="../assets/images/f_1.png" height="133px" width="133px" alt="" class="feature__img">
                <span class="feature__slogan">Sites the world</span>
            </div>
            <div class="col-md-3 feature__col">
                <img src="../assets/images/f_2.png" height="133px" width="133px" alt="" class="feature__img">
                <span class="feature__slogan">Shopping</span>
            </div>
            <div class="col-md-3 feature__col">
                <img src="../assets/images/f_3.png" height="133px" width="133px" alt="" class="feature__img">
                <span class="feature__slogan">Photography</span>
            </div>
            <div class="col-md-3 feature__col">
                <img src="../assets/images/f_4.png" height="133px" width="133px" alt="" class="feature__img">
                <span class="feature__slogan">Find the best</span>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container footer__container">
        <div class="row footer__row">
            <div class="col-md-12 footer__col">
                <span class="title">Designed by some author</span>
            </div>
        </div>
    </div>
</footer>









<router-outlet></router-outlet>
