<nav class="nav">
  <div class="container nav__container">
    <div class="row nav__row">
        <div class="nav__logo">
          <a href="#" class="nav__logo-link"><span class="nav__logo-blue">Indo</span> Tourism</a>
        </div>
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__item-link">Home</a></li>
          <li class="nav__item"><a href="#" class="nav__item-link">About us</a></li>
          <li class="nav__item"><a href="#" class="nav__item-link">Projects</a></li>
          <li class="nav__item"><a href="#" class="nav__item-link">Contact us</a></li>
        </ul>
    </div>
  </div>
</nav>
<section class="hero"></section>
<section class="feature"></section>
<footer class="footer"></footer>









<router-outlet></router-outlet>
